/**
Colors
*/

// General background shades

.bg-tint {
  background: rgba(255, 255, 255, 0.1);
}

// Canvas background colors
.card1 {
  background: #F15353;
}
.card2 {
  background: #F39C12;
}
.card3 {
  background: #2ECC71;
}
.card4 {
  background: #1B97AE;
}
.card5 {
  background: #E67E22;
}
.card6 {
  background: #1ABC9C;
}
