/**
A primal CSS grid for Anki cards.

Old Flexbox is used in these grids to ensure compatibility with the
WebKit version used by PyQt for Anki Desktop.
*/

// To make sure the grid works both in previews (where there is
// no #qa element) and in reviews (where the #qa element is
// present) we style them both with flexbox, and also flex them
// both to make sure #qa stretches itself to the container height
// when placed inside .card
.card,
#qa {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
}

/**
Centering grid items
*/

.col,
.row {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
}

.col {
  -webkit-box-align: center;

  // Allow block elements to break lines
  -webkit-box-orient: vertical;

  // Forces consistent width for row columns
  width: 50%;
}

/**
Grid row sizes
*/

.big {
  -webkit-box-flex: 2;
}

/**
Grid spacing
*/

.col {
  padding: 10px;
}

.col ~ .col {
  margin-left: 2px;
}

.row ~ .row .col {
  margin-top: 2px;
}
