/**
Ribbon for contextual details about a card.
*/

.ribbon {
  background: rgba(50, 50, 50, 0.4);
  color: white;
  padding: 0 3px;

  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.1ex;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  line-height: 18px;
  width: 100%;
  -webkit-box-flex: 0;
}
